body {
	text-align: center;
	background-image: -moz-radial-gradient(#333333 , #1c1717);
	background-image: -webkit-radial-gradient(top, #333333 25%, #1c1717 75%);
	background-image: radial-gradient(top, #333333 25%, #1c1717 75%);
	color: #fff;
	background-color: #1c1717;
	background-repeat: no-repeat;
}

div{
	margin: 10px;
}

label {
 margin: 5px 15px;
}

hr {
	width: 100%;
}


.invisible {
	display: none !important;
}
